.navbar {
  display: flex;
  height: 50px;
  padding: 0 50px;
  align-items: center;
  background-color: white;
  width: 100%;
}
.navbar__box {
  display: flex;
}
.navbar__header {
  margin-left: 10px;
  font-size: 24px;
  font-weight: 700;
}
.navbar__login {
  margin-right: 20px;
}
.container {
  margin: 0 auto;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
